{% include "header.html" %}
			<div class="main-content">
				<div class="story-gallery" style="background-image: url(/static/images/bg-1.jpg); border-radius: 5px;">
					<div class="col-4">
						<img style="border-radius: 5px;" src="/static/images/profile-pic.png">
					</div>
				</div>
				
				{% for i in Post %}
				<div class="post-container">
					<div class="post-row">
						<div class="user-profile">
							<img src="/static/images/profile-pic.png">
							<div>
								<p>{{ userbio.name }}</p>
								<span>{{ i.created }}</span><br>
								<small> Who can Watch : </small><span>{{ i.view }}</span>
							</div>
						</div>
						<a href="#">
							<i class="fa fa-ellipsis-v"></i>
						</a>
					</div>
					
					<p class="post-text">
                        {{ i.body }}
					</p>
					<img src="{{ i.image.url }}" class="post-img">
					<div class="post-row">
						<div class="activity-icons">
							<div>
								<img src="/static/images/like-blue.png">
								120
							</div>
							<div>
								<img src="/static/images/comments.png">
								19
							</div>
							<div>
								<img src="/static/images/share.png">
								120
							</div>
						</div>
						<div class="post-profile-icon">
							<img src="/static/images/profile-pic.png">
							<i class="fas fa fa-caret-down"></i>
						</div>
					</div>
				</div>
				{% endfor %}
				<button type="button" class="load-more-btn">Load More</button>
			</div>
			{% include "footer.html" %}